<form class="{{cssClass}} sheet-border" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <!-- CHARACTER IMAGE -->
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="flex:0.10;" height="75" width="75"/>


        <div class="stats" style="flex:0.9;">
            <!-- CHARACTER INFO -->
            <div class="flexrow">
                <h1 class="charname  text-input" ><input name="name" type="text" value="{{actor.name}}" placeholder="Name" style="border-right:none; border-left:none; text-align:left; padding:5px;"/></h1>

                <div class="archtype charname text-input" style="padding:5px;">

                    <select name="data.class" class="archtype" style="width: 100%; border: none; border-bottom: solid 1px; font-family:'Exo', sans-serif; font-weight:200; font-size: 20px;    height: 48px;">
                        {{#select data.class}}
                        <option value="teamster">Teamster</option>
                        <option value="scientist">Scientist</option>
                        <option value="android">Android</option>
                        <option value="marine">Marine</option>
                        {{/select}}
                    </select>

                </div>
            </div>
            <div class="flexrow">
                <div class="" >
                    <div class="">
                        <input name="data.rank" type="text" value="{{data.rank}}" placeholder="rank/title">
                        <label for="data.rank" style="font-size:10px; display:block;">Rank/Title</label>
                    </div>

                </div>
                <div>
                    <div class="text-input">
                        <input class="" name="data.level" type="text" value="{{data.level}}" placeholder="1" style="width:100%; ">
                        <label for="data.level" style="font-size:10px; display:block;">Level</label>
                    </div>
                </div>
            </div>

            <!-- STATS & SAVES -->
            <div class="flexrow">
                <!-- STATS -->
                <div style="flex:0.25;">

                    <!-- STRENGTH -->
                    <div style="padding:5px; ">
                        <label style="font-size:16px; text-align:left; display:block;" for="data.stats.str">Strength</label>
                        <div class="flexrow">
                            <input type="text" name="data.stats.str" value="{{data.stats.str}}" data-dtype="Number" style="flex:0.40;"/>
                            <div style="text-align: center;">
                                <a class="rollable" data-roll="1d100" data-label="Strength Check" data-stat="str" style=""><i class="fas fa-dice fa-lg" ></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- SPEED -->
                    <div style="padding:5px; "  >
                        <label style="font-size:16px; text-align: left; display:block;" for="data.stats.spd">Speed</label>
                        <div class="flexrow">
                            <input type="text" name="data.stats.spd" value="{{data.stats.spd}}" data-dtype="Number" style="flex:0.40;"/>
                            <div style="text-align: center;">
                                <a class="rollable" data-roll="1d100" data-label="Speed Check" data-stat="spd" style=""><i class="fas fa-dice fa-lg" ></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- INTELLECT -->
                    <div style="padding:5px;  ">
                        <label style="font-size:16px; text-align: left; display:block;" for="data.stats.int">Intellect</label>
                        <div class="flexrow">
                            <input type="text" name="data.stats.int" value="{{data.stats.int}}" data-dtype="Number" style="flex:0.40;"/>
                            <div style="text-align: center;">
                                <a class="rollable" data-roll="1d100" data-label="Intellect Check" data-stat="int" style=""><i class="fas fa-dice fa-lg" ></i></a>
                            </div>
                        </div>

                    </div>
                    <!-- COMBAT -->
                    <div style="padding:5px;  ">
                        <label style="font-size:16px; text-align: left; display:block;" for="data.stats.cmb">Combat</label>
                        <div class="flexrow">
                            <input type="text" name="data.stats.cmb" value="{{data.stats.cmb}}" data-dtype="Number" style="flex:0.40;"/>
                            <div style="text-align: center;">
                                <a class="rollable" data-roll="1d100" data-label="Combat Check" data-stat="cmb" style=""><i class="fas fa-dice fa-lg" ></i></a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- SAVES -->
                <div style="flex:0.25;">
                    <!-- SANITY -->
                    <div style="padding:5px; ">
                        <label style="font-size:16px; text-align:left; display:block;" for="data.saves.sanity">Sanity</label>
                        <div class="flexrow">
                            <input type="text" name="data.saves.sanity" value="{{data.saves.sanity}}" data-dtype="Number" style="flex:0.40;"/>
                            <div style="text-align: center;">
                                <a class="rollable-check" data-roll="1d100" data-label="Sanity Check" style=""><i class="fas fa-dice fa-lg" ></i></a>
                            </div>

                        </div>

                    </div>
                    <!-- FEAR -->
                    <div style="padding:5px; "  >
                        <label style="font-size:16px; text-align: left; display:block;" for="data.saves.fear">Fear</label>
                        <div class="flexrow">
                            <input type="text" name="data.saves.fear" value="{{data.saves.fear}}" data-dtype="Number" style="flex:0.40;"/>
                            <div style="text-align: center;">
                                <a class="rollable-check" data-roll="1d100" data-label="Fear Check" style=""><i class="fas fa-dice fa-lg" ></i></a>
                            </div>
                        </div>

                    </div>
                    <!-- BODY -->
                    <div style="padding:5px;  ">
                        <label style="font-size:16px; text-align: left; display:block;" for="data.saves.body">Body</label>
                        <div class="flexrow">
                            <input type="text" name="data.saves.body" value="{{data.saves.body}}" data-dtype="Number" style="flex:0.40;"/>
                            <div style="text-align: center;">
                                <a class="rollable-check" data-roll="1d100" data-label="Body Check" style=""><i class="fas fa-dice fa-lg" ></i></a>
                            </div>
                        </div>

                    </div>
                    <!-- ARMOR -->
                    <div style="padding:5px;  ">
                        <label style="font-size:16px; text-align: left; display:block;" for="data.saves.armor">Armor</label>
                        <div class="flexrow">
                            <input type="text" name="data.saves.armor" value="{{data.saves.armor}}" data-dtype="Number" style="flex:0.40;"/>
                            <div style="text-align: center;">
                                <a class="rollable-check" data-roll="1d100" data-label="Armor Check" style=""><i class="fas fa-dice fa-lg" ></i></a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Vitals, Survival AND MONEY-->
                <div style="flex:0.50; padding-top:10px;">
                    <div class="stats flexrow" >
                        <label for="data.health" style="font-size:20px; display:block;">Health</label>
                        <div style="width:33%; display:inline-block; text-align:center;">
                            <input type="text" name="data.health" value="{{data.health}}" data-dtype="Number" style="border-right:none; border-left:none; border-bottom:solid 2px black; width:75%;"/>
                            <small style="text-align:center;">current</small>
                        </div>
                        <div style="width:33%; display:inline-block; text-align:center;">
                            <input type="text" name="data.max_health" value="{{data.max_health}}" data-dtype="Number" style="border-right:none; border-left:none; border-bottom:solid 2px black; width:75%;"/>
                            <small style="text-align:center;">max</small>
                        </div>
                    </div>
                    <div class="flexrow">
                        <div class="resource" style="">
                            <label for="data.stress" style="font-size:14px; text-align: center; ">Stress</label>
                            <div class="flexrow">
                                <input type="text" name="data.stress" value="{{data.stress}}" data-dtype="Number" />
                                <div style="text-align: center;">
                                    <a class="rollable-check" data-roll="2d10" data-label="Stress Check" title="Roll a stress check" style=""><i class="fas fa-dice fa-lg" ></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="resource">
                            <label for="data.resolve" style="font-size:14px; text-align: center; ">Resolve</label>
                            <input type="text" name="data.resolve" value="{{data.resolve}}" data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="flexrow" style="margin-top:20px;">
                        <label for="data.credits" style="font-size:14px;  ">Credits</label>
                        <input type="text" name="data.credits" value="{{data.credits}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow" style="margin-top:20px;">
                        <label for="data.rollmod" style="font-size:14px;  ">Roll Modifier</label>
                        <select name="data.rollmod" id="rollmod" style="background-color:rgba(0,0,0,0.6); color:white;">
                            {{#select data.rollmod}}
                            <option value="+0" selected="selected">Untrained</option>
                            <option value="+10">Trained</option>
                            <option value="+15">Expert</option>
                            <option value="+20">Master</option>
                            {{/select}}
                        </select>

                    </div>

                </div>



            </div>

        </div>



    </header>

    <section class=" ">
        <div class="flexrow" style="  margin:0 auto; justify-content:left; align-items: center; padding-left: 25px;">

        </div>

    </section>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary" style="padding: 0 5%; background-color:rgba(0,0,0,0.6);">

        <a class="item" data-tab="weapons" style="flex:1;">Weapons</a>
        <a class="item" data-tab="items" style="flex:1;">Gear</a>
        <a class="item" data-tab="biography" style="flex:1;">Notes</a>

    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body" style=" padding: 10px;">
        {{!-- Gear Tab --}}
        <div class="tab items " data-group="primary" data-tab="items" >
            {{!-- GEAR --}}
            <div class="" >
                <div style="">
                    <ol class="items-list">
                        <h2 style="font-family:'Exo', sans-serif; font-weight:900; border-color:#fff;">Equipment <small style="float:right; color:black; font-family:'Orbitron', sans-serif; font-size:12px; border:solid 1px black; background-color:white;"><a class="gear-create">+ add</a></small></h2>

                        {{#each data.owned.inventory as |item id|}}

                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                <a class="item-control item-name item-edit">{{item.name}}</a>

                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>

                        {{/each}}
                    </ol>
                </div>
            </div>



        </div>

        {{!-- Weapons Tab --}}
         <div class="tab weapons" data-group="primary" data-tab="weapons">


                 <div class="" >
                     <div style="">
                         <ol class="items-list">
                             <h2 style="font-family:'Exo', sans-serif; font-weight:900; border-color:#fff;">Weapons <small style="float:right; color:black; font-family:'Orbitron', sans-serif; font-size:12px; border:solid 1px black; background-color:white;"><a class="weapon-create">+ add</a></small></h2>
                             {{#each data.owned.weapons as |item id|}}

                             <li class="item flexrow" data-item-id="{{item._id}}">
                                 <a class="rollable-check" data-roll="{{item.data.damage}}" data-label="Damage from {{item.name}}" title="Roll Damage with your {{item.name}}" style="flex:0.05;"><i class="fas fa-dice fa-lg" ></i></a>
                                 <!-- <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/> -->
                                 <a class="item-control item-name item-edit">{{item.name}}</a>


                                 <div class="item-controls">
                                     <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                     <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                 </div>
                             </li>

                             {{/each}}

                         </ol>
                     </div>
                 </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="biography">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>

