.worldbuilding {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}
.worldbuilding .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}
.worldbuilding .sheet-header {
  height: 310px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.worldbuilding .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.worldbuilding .sheet-header .header-fields {
  flex: 1;
  height: 100px;
}
.worldbuilding .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.worldbuilding .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.worldbuilding .resource {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  float: left;
  text-align: center;
}
.worldbuilding .resource input {
  width: 100px;
  height: 28px;
}
.worldbuilding .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}
.worldbuilding .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.worldbuilding .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.worldbuilding .sheet-body {
  overflow: hidden;
}
.worldbuilding .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.worldbuilding .editor,
.worldbuilding .editor-content {
  height: 100%;
}
.worldbuilding .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.worldbuilding .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.worldbuilding .items-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.worldbuilding .items-list .item-name {
  margin: 0;
}
.worldbuilding .items-list .item-controls {
  flex: 0 0 36px;
}
.worldbuilding .attributes-header {
  padding: 5px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}
.worldbuilding .attributes-header .attribute-label {
  flex: 1.5;
}
.worldbuilding .attributes-header .attribute-control {
  flex: 0 0 20px;
}
.worldbuilding .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.worldbuilding .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}
.worldbuilding .attributes-list a.attribute-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.worldbuilding.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.worldbuilding.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
.blb.sheet.item .window-content {
  padding: 5px;
  overflow-y: hidden;
}
.blb.sheet.item .sheet-header {
  overflow: hidden;
  flex-wrap: nowrap;
  flex: 0 0 72px;
  border-bottom: 2px groove #eeede0;
}
.blb.sheet.item .profile-img {
  flex: 0 0 64px;
  flex-wrap: inherit;
  flex-direction: column;
  margin-right: 10px;
  border: none;
}
.blb.sheet.item .itemline {
  height: 60px;
  width: 100%;
  display: inline-flex;
}
.blb.sheet.item .itemline .itemname {
  height: 100%;
  margin: 0;
}
.blb.sheet.item .itemline .itemname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.blb.sheet.item .itemline .item-controls {
  width: 10%;
  text-align: center;
  margin-left: 4px;
}
.blb.sheet.item .header-fields {
  flex: 1;
  height: 100px;
  padding: 5px;
}
.blb.sheet.item .header-fields input[type=text] {
  background: none;
  border: 1px solid transparent;
}
.blb.sheet.item .sheet-body .editor {
  border: 2px groove #eeede0;
  height: 200px;
  width: 100%;
}
.blb.sheet.item .sheet-body .header-field {
  margin-bottom: 0px;
}
.sheet-border,
.window-app .window-content {
  background-image: url(./assets/cctv.jpg);
  background-color: #000;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime-local"]:focus {
  box-shadow: 0 0 5px #e69010;
}
select:focus {
  box-shadow: 0 0 5px #e69010;
  outline: none;
}
input,
select,
option {
  color: #e69010 !important;
  background: rgba(0, 0, 0, 0.9);
}
.item-properties input {
  width: 50px;
}
.mce-content-body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: white;
  background-color: black;
}
.rollable,
.rollable-check {
  color: #e69010;
}
.rollable:hover,
.rollable-check:hover {
  color: #ffac52;
}
