<ol class="items-list"  style="margin:0; overflow-y: visible; min-height:50px;">
    <li class="" >
        <ol clas="items-list" style="list-style:none; padding:0; margin:0;">
            {{!-- EQUIPPED WEAPONS --}}
            {{#each location.items as |item id|}}

            <li class="item " data-item-id="{{item._id}}" data-item-type="{{item.type}}" style="border-bottom:none; padding:0; text-align:center; ">
                <a class="rollable-weapon item-controls " title="{{item.name}}" data-roll="3d6" data-stat="{{item.data.stat}}" data-weapontype="{{item.data.type}}" data-twohanded="{{item.data.isTwoHanded}}" data-label="with {{weapon.name}}" >
                    <img class="item-control" src="{{item.img}}" title="{{item.name}}" width="40" height="40" style="border:none; display:block; margin:0 auto;" />
                </a>
                <a class="item-control item-name item-edit" style="font-size:10px;">edit</a>
            </li>

            {{/each}}

            {{!-- EQUIPPED GEAR --}}
            {{#each data.owned.inventory as |item id|}}
            {{#ifEquals item.data.location "lefthand"}}
            <li class="item " data-item-id="{{item._id}}" data-item-type="gear" style="border-bottom:none; padding:0; text-align:center; ">
                <a class="item-controls" title="{{item.name}}" data-roll="3d6"  data-label="with {{item.name}}" >
                    <img class="item-control " src="{{item.img}}" title="{{weapon.name}}" width="40" height="40" style="border:none; display:block; margin:0 auto;" />
                </a>
                <a class="item-control item-name item-edit" style="font-size:10px;">edit</a>
            </li>
            {{/ifEquals}}
            {{/each}}
        </ol>
    </li> <!-- .item-container -->
</ol>