<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header loot-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND5E.ItemName' }}"/>
            </h1>

        </div>

    </header>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <div class="">
                <div style="text-align:center;">DMG</div>
                <div class="flexrow">
                    <div>

                        <input name="data.damage" type="text" value="{{data.damage}}" placeholder=""/>
                        <label for="data.damage" style="font-size:10px; text-align:center; width:100%;">xd10</label>
                    </div>

                    <div>
                        <div class="">
                            <input name="data.critical" type="text" value="{{data.critical}}" placeholder=""/>
                            <label for="data.critical" style="font-size:10px; text-align:center; width:100%;">critial</label>
                        </div>
                    </div>
                </div>


            </div>
            <div class="">
                <div style="text-align:center;">RANGES</div>
                <div class="flexrow">

                    <div class="">
                        <input name="data.short" type="text" value="{{data.short}}" placeholder=""/>
                        <label for="data.damage" style="font-size:10px; text-align:center; width:100%;">S</label>
                    </div>
                    <div class="">
                        <input name="data.medium" type="text" value="{{data.medium}}" placeholder=""/>
                        <label for="data.medium" style="font-size:10px; text-align:center; width:100%;">M</label>
                    </div>
                    <div class="">
                        <input name="data.long" type="text" value="{{data.long}}" placeholder=""/>
                        <label for="data.long" style="font-size:10px; text-align:center; width:100%;">L</label>
                    </div>

                </div>
            </div>

        </div>
        <div class="tab flexrow active" data-group="primary" data-tab="description">

            <div class="item-properties" style="flex: 0.40; padding-right: 5px;">

                <div class="form-group">
                    <label for="data.price">{{localize "BLB.Price"}}</label>
                    <input name="data.price" type="text" value="{{item.data.price}}" placeholder="{{localize 'BLB.Price'}}"
                           data-dtype="Number" />
                </div>
                <div class="form-group">
                    <label for="data.weight">{{localize "BLB.Weight"}}</label>
                    <input name="data.weight" type="text" value="{{item.data.weight}}" placeholder="{{localize 'BLB.Weight'}}"
                           data-dtype="Number" />
                </div>
                <div class="form-group">
                    <label for="data.shots">Shots</label>
                    <input name="data.shots" type="text" value="{{item.data.shots}}"
                           placeholder="" data-dtype="Number" />
                </div>

            </div>
            <div style="flex:0.6;">
                <div class="form-group">
                    <label for="data.notes">{{localize "BLB.Notes"}}</label>
                    <input type="text" name="data.notes" value="{{item.data.notes}}" placeholder="{{localize 'BLB.Notes'}}"
                           data-dtype="String" />
                </div>
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>

        </div>
    </section>
</form>
<!--
<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    <header class="item sheet-header" data-item-id="{{item._id}}">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="itemline">
                <h1 class="itemname">
                    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BLB.Name'}}"
                           data-dtype="String" />
                </h1>
                <div class="item-controls">
                    <a class="item-control item-delete" title="{{localize 'BLB.Del'}}"><i
                            class="fas fa-trash fa-2x"></i></a>
                </div>
            </div>
        </div>
    </header>
    <section class="sheet-body">
        <div class="form-group">
            <label for="data.damage">{{localize "BLB.WeaponType"}}</label>
            <input name="data.type" type="text" value="{{item.data.type}}" placeholder="{{localize 'BLB.WeaponType'}}"
                   data-dtype="String" />
        </div>
        <div class="form-group">
            <label for="data.range">{{localize "BLB.Rng"}}</label>
            <input name="data.range" type="text" value="{{item.data.range}}" placeholder="{{localize 'BLB.Rng'}}"
                   data-dtype="String" />
        </div>
        <div class="form-group">
            <label for="data.rof">{{localize "BLB.Stat"}}</label>
            <input name="data.stat" type="text" value="{{item.data.stat}}" placeholder="{{localize 'BLB.Stat'}}"
                   data-dtype="String" />
        </div>
        <div class="form-group">
            <label for="data.damage">{{localize "BLB.Dmg"}}</label>
            <input name="data.damage" type="text" value="{{item.data.damage}}" placeholder="{{localize 'BLB.Dmg'}}"
                data-dtype="String" />
        </div>


        <div class="form-group">
            <label for="data.shots">{{localize "BLB.Initmod"}}</label>
            <input name="data.init" type="text" value="{{item.data.init}}" placeholder="{{localize 'BLB.Initmod'}}"
                data-dtype="String" />
        </div>

        <div class="form-group">
            <label for="data.price">{{localize "BLB.Price"}}</label>
            <input name="data.price" type="text" value="{{item.data.price}}" placeholder="{{localize 'BLB.Price'}}"
                data-dtype="Number" />
        </div>
        <div class="form-group">
            <label for="data.weight">{{localize "BLB.Weight"}}</label>
            <input name="data.weight" type="text" value="{{item.data.weight}}" placeholder="{{localize 'BLB.Weight'}}"
                data-dtype="Number" />
        </div>
        <div class="form-group">
            <label for="data.quantity">{{localize "BLB.Quantity"}}</label>
            <input name="data.quantity" type="text" value="{{item.data.quantity}}"
                placeholder="{{localize 'BLB.Quantity'}}" data-dtype="Number" />
        </div>

        <div class="form-group">
            <label for="data.notes">{{localize "BLB.Notes"}}</label>
            <input type="text" name="data.notes" value="{{item.data.notes}}" placeholder="{{localize 'BLB.Notes'}}"
                data-dtype="String" />
        </div>
        <div class="form-group">
            <label for="data.equipped">{{localize "BLB.Equipped"}}</label>
            <input type="checkbox" name="data.equipped" {{checked item.data.equipped}} data-dtype="Boolean">
        </div>
        <header class="header-field">
            <span>{{localize "BLB.Desc"}}</span>
        </header>
        <div class="form-group">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
-->